<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-8 offset-2">
            <div class="alert alert-info mt-5" role="alert">
                <h4 class="alert-heading">Error Status: <%= statusCode %></h4>
                <p><%= message %></p>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio harum dicta ipsum doloremque ex quis in quia
                    magni suscipit quos. Repellat, soluta. Fuga, est excepturi doloribus voluptas hic magnam reprehenderit?
                </p>
            </div>
            <a class="btn btn-secondary mt-2" href="/campgrounds">Back to Home</a>
        </div>
    </div>
